<h2>Naujas receptas</h2>

<br>

<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.label :porcijos %><br>
    <%= f.text_field:porcijos %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>